{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'server/css/master.css' %}">
    {% block page_styles %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul class="site-menu">
                <a href="{% url 'main:list' %}" class="site-menu__item">
                    Главная
                </a>
                <a href="{% url 'cart:cart' %}" class="site-menu__item">
                    Корзина
                </a>
            </ul>
        </nav>
    </header>

    <section class="page">
        {% block content %}
        {% endblock %}
    </section>
    {% block page_js %}
    {% endblock %}
</body>
</html>