.product-title {
    display: block;
    margin: 0;
    padding: 0 0 8px 0;
    color: #4ca786;
    border-bottom: 3px solid;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr)) ;
    grid-gap: 16px;
    margin: 16px 0 0;
    padding: 0;
}

.product-item {
    position: relative;
    display: flex;
    flex-direction: column; 
    place-self: center;
    width: 172px;
    height: 172px;
    border-bottom: 1px solid #4ca786;
    list-style: none;
}

.product-item__wrapper {
    display: flex;
    flex-direction: row;
    transition: 0.3s ease-in
}

.product-item__wrapper_title {
    flex-basis: 70%;
    align-items: flex-end;
}

.product-item__wrapper_button {
    position: relative;
    flex-basis: 30%;
    align-items: center;
}

.product-item__title {
    width: 100%;
    padding-bottom: 0;
    text-align: center;
    user-select: none;
    transform: scale(1);
    transition: 0.3s ease-in;
}

.product-item__button {
    position: relative;
    width: 100%;
    height: 32px;
    border: none;
    background-color: transparent;
    font: 300 16px sans-serif;
    cursor: pointer;
    color: #4ca786;
    transform: scale(0.8);
    transition: 0.3s ease-in 0.3s;
}

.product-item__button-inner {
    position: relative;
}

.product-item__wrapper_button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: #4ca786;
    transition: 0.3s ease-in;
}

.product-item:hover .product-item__wrapper_title {
    flex-basis: 30%
}

.product-item:hover .product-item__wrapper_button {
    flex-basis: 70%;
}

.product-item:hover .product-item__wrapper_title .product-item__title {
    padding-bottom: 8%;
    transform: scale(0.8);
}

.product-item:hover .product-item__wrapper_button .product-item__button {
    height: 100%;
    color: #fff;
    transform: scale(1);
}

.product-item:hover .product-item__wrapper_button::before {
    height: 100%;
}


.product-item__button:focus {
    outline: none;
}

.product-item__button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: transparent;
    transition: 0.2s linear;
}

.product-item__button:active::before {
    background-color: #357A61;
}
