{% extends 'master.html' %}

{% load static %}

{% block page_title %}
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'cart/css/products.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
<h1 class="cart-title">
    Cart page
</h1>
<ul class="product-list"></ul>
<div class="control-panel"></div>
{% endblock %}

{% block page_js %}
<script src="{% static 'server/js/counter.js' %}"></script>
<script src="{% static 'cart/js/submit.js' %}"></script>
<script src="{% static 'cart/js/items.js' %}"></script>

<script>
    const emptyText = 'Корзина пуста';
    const mainUrl = '{% url "main:list" %}';
    const createPurchaseUrl = '{% url "cart_api:create" %}';
    const tokenInput = document.querySelector('[name=csrfmiddlewaretoken]');
    const productsList = document.querySelector('.product-list');
    const controlPanlel = document.querySelector('.control-panel');
    const items = getLocalValue('products');
    const identityList = Object.keys(items);

    if (identityList.length > 0) {
        const productsUrl = `{% url 'rest_main:list' %}?id__in=${identityList.join(',')}`;
    
        fetch(productsUrl)
            .then(response => response.json())
            .then(data => {
                data.map(
                    itm => productsList.innerHTML += renderItem(itm, items[itm.id])
                )
            })

        controlPanlel.appendChild(
            createCartSubmit(createPurchaseUrl, tokenInput.value)
        );
    } else {
        productsList.appendChild(
            createEmptyMock(mainUrl, emptyText)
        );
    }
</script>

{% endblock %}