{% extends 'master.html' %}

{% load static %}

{% block page_title %}
Produts list
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'main/css/products.css' %}">
{% endblock %}

{% block content %}
<h1 class="product-title">
    Products list
</h1>
<ul class="product-list">
    {% for obj in object_list %}
    <li id="product-item-{{ obj.id }}" class="product-item">
        <div class="product-item__wrapper product-item__wrapper_title">
            <span class="product-item__title">
                {{ obj.title }}
            </span>
        </div>
        <div class="product-item__wrapper product-item__wrapper_button">
            <button itemid="{{ obj.id }}" class="product-item__button">
                <span class="product-item__button-inner">
                    Добавить в корзину
                </span>
            </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block page_js %}
<script src="{% static 'server/js/counter.js' %}"></script>
<script>
    const items = document.querySelectorAll('.product-item');
    items.forEach(
        itm => {
            const btn = itm.querySelector('button')
            btn.addEventListener(
                'click',
                evt => { 
                    incLocalValue(
                        'products', btn.getAttribute('itemid')
                    ) 
                }
            )
        }
    );
</script>
{% endblock %}
