html,
body {
    top: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 64px;
    background-color: #4ca786;
}

nav {
    display: flex;
    flex-basis: 100%;
    flex-flow: row nowrap;
    height: 100%;
    align-items: center;
}

.site-menu {
    margin: 0 0 0 24px;
    padding: 0;
}

.site-menu__item {
    position: relative;
    margin-right: 16px;
    padding-bottom: 5px;
    box-sizing: border-box;
    font: 500 24px sans-serif;
    color: #fff;
    text-decoration: none;
}

.site-menu__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #fff;
    transform: scaleX(0);
    transition: 0.3s ease-in;
}

.site-menu__item:hover::before {
    transform: scale(1)
}


.page {
    margin: 32px 0;
    font: 300 18px sans-serif;
    padding: 0 24px;
}
