.total-list {
    display: grid;
    grid-gap: 16px;
    margin: 24px 0 0;
    padding: 0;
}

.total-item {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 32px;
    list-style: none;
}
